In [1]:
#pandas are used to clean, import,export data.
#1. series----> data in 1d array
#2. data frame--->data in 2d array in multi array.

dice={
    "Name":["Guli", "Kavya", "Karma", "Shivi", "MadalKuttaKamina"],
    "Roll No":[1,2,3,4,5],
    "Grades":["A", "B", "C", "C","B" ],
    "Email":["abc@xyz.com","def@xyz.com","ghi@xyz.com","jkl@xyz.com","BuraInsan@xyz.com"]}
print(dice)
import pandas as pd
df = pd.DataFrame(dice)
df

{'Name': ['Guli', 'Kavya', 'Karma', 'Shivi', 'MadalKuttaKamina'], 'Roll No': [1, 2, 3, 4, 5], 'Grades': ['A', 'B', 'C', 'C', 'B'], 'Email': ['abc@xyz.com', 'def@xyz.com', 'ghi@xyz.com', 'jkl@xyz.com', 'BuraInsan@xyz.com']}

               Name  Roll No Grades              Email
0              Guli        1      A        abc@xyz.com
1             Kavya        2      B        def@xyz.com
2             Karma        3      C        ghi@xyz.com
3             Shivi        4      C        jkl@xyz.com
4  MadalKuttaKamina        5      B  BuraInsan@xyz.com

In [2]:
entries = [
    {'Company Name': 'FinEdge', 'Employee Name': 'Ethan Brown', 'Position': 'Data Analyst'},
    {'Company Name': 'FoodiesInc', 'Employee Name': 'Leo King', 'Position': 'Financial Advisor'},
    {'Company Name': 'RetailWorld', 'Employee Name': 'Rachel Green', 'Position': 'Data Analyst'},
    {'Company Name': 'MediCare', 'Employee Name': 'Uma Wilson', 'Position': 'Customer Service'},
    {'Company Name': 'TechCorp', 'Employee Name': 'Mila Grant', 'Position': 'Software Engineer'},
    {'Company Name': 'EduSmart', 'Employee Name': 'Leo King', 'Position': 'Marketing Specialist'},
    {'Company Name': 'RetailWorld', 'Employee Name': 'Quincy Roberts', 'Position': 'Customer Service'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Cindy Rivera', 'Position': 'Marketing Specialist'},
    {'Company Name': 'FinEdge', 'Employee Name': 'Eva Bell', 'Position': 'Project Manager'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Violet Rogers', 'Position': 'HR Manager'},
    {'Company Name': 'TechCorp', 'Employee Name': 'Charlie Davis', 'Position': 'Financial Advisor'},
    {'Company Name': 'EcoSolutions', 'Employee Name': 'Zoe Bennett', 'Position': 'Software Engineer'},
    {'Company Name': 'RetailWorld', 'Employee Name': 'Grace Reed', 'Position': 'HR Manager'},
    {'Company Name': 'EduSmart', 'Employee Name': 'Dan Morgan', 'Position': 'HR Manager'},
    {'Company Name': 'FinEdge', 'Employee Name': 'Victor Lopez', 'Position': 'Sales Representative'},
    {'Company Name': 'FoodiesInc', 'Employee Name': 'Uma Wilson', 'Position': 'Project Manager'},
    {'Company Name': 'RetailWorld', 'Employee Name': 'Olivia Young', 'Position': 'Financial Advisor'},
    {'Company Name': 'FinEdge', 'Employee Name': 'Tara Hayes', 'Position': 'Marketing Specialist'},
    {'Company Name': 'FinEdge', 'Employee Name': 'Uma Wilson', 'Position': 'Financial Advisor'},
    {'Company Name': 'FoodiesInc', 'Employee Name': 'Frank Hughes', 'Position': 'Data Analyst'},
    {'Company Name': 'HealthPlus', 'Employee Name': 'Victor Lopez', 'Position': 'Customer Service'},
    {'Company Name': 'FinEdge', 'Employee Name': 'Zoe Bennett', 'Position': 'Software Engineer'},
    {'Company Name': 'HealthPlus', 'Employee Name': 'Ian Lewis', 'Position': 'HR Manager'},
    {'Company Name': 'MediCare', 'Employee Name': 'Victor Lopez', 'Position': 'IT Support'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Steve Gonzales', 'Position': 'IT Support'},
    {'Company Name': 'FoodiesInc', 'Employee Name': 'Rachel Green', 'Position': 'Sales Representative'},
    {'Company Name': 'HealthPlus', 'Employee Name': 'Zane Mitchell', 'Position': 'Customer Service'},
    {'Company Name': 'TravelLux', 'Employee Name': 'Paul Walker', 'Position': 'Data Analyst'},
    {'Company Name': 'EcoSolutions', 'Employee Name': 'Megan Scott', 'Position': 'Data Analyst'},
    {'Company Name': 'RetailWorld', 'Employee Name': 'Eva Bell', 'Position': 'Financial Advisor'},
    {'Company Name': 'TravelLux', 'Employee Name': 'Steve Gonzales', 'Position': 'Data Analyst'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Karen Adams', 'Position': 'Sales Representative'},
    {'Company Name': 'HealthPlus', 'Employee Name': 'Anna Torres', 'Position': 'Sales Representative'},
    {'Company Name': 'EcoSolutions', 'Employee Name': 'Paul Walker', 'Position': 'Product Manager'},
    {'Company Name': 'FoodiesInc', 'Employee Name': 'Megan Scott', 'Position': 'Project Manager'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Uma Wilson', 'Position': 'Software Engineer'},
    {'Company Name': 'MediCare', 'Employee Name': 'Kara Brooks', 'Position': 'Customer Service'},
    {'Company Name': 'MediCare', 'Employee Name': 'Grace Reed', 'Position': 'Sales Representative'},
    {'Company Name': 'TravelLux', 'Employee Name': 'Tina Baker', 'Position': 'IT Support'},
    {'Company Name': 'GreenEnergy', 'Employee Name': 'Henry Ward', 'Position': 'IT Support'}
]
#example of how to access the dictionary
for entry in entries:
    print(f"Company Name:{entry['Company Name']},Employee Name: {entry['Employee Name']}, Position: {entry['Position']}")

Company Name:FinEdge,Employee Name: Ethan Brown, Position: Data Analyst
Company Name:FoodiesInc,Employee Name: Leo King, Position: Financial Advisor
Company Name:RetailWorld,Employee Name: Rachel Green, Position: Data Analyst
Company Name:MediCare,Employee Name: Uma Wilson, Position: Customer Service
Company Name:TechCorp,Employee Name: Mila Grant, Position: Software Engineer
Company Name:EduSmart,Employee Name: Leo King, Position: Marketing Specialist
Company Name:RetailWorld,Employee Name: Quincy Roberts, Position: Customer Service
Company Name:GreenEnergy,Employee Name: Cindy Rivera, Position: Marketing Specialist
Company Name:FinEdge,Employee Name: Eva Bell, Position: Project Manager
Company Name:GreenEnergy,Employee Name: Violet Rogers, Position: HR Manager
Company Name:TechCorp,Employee Name: Charlie Davis, Position: Financial Advisor
Company Name:EcoSolutions,Employee Name: Zoe Bennett, Position: Software Engineer
Company Name:RetailWorld,Employee Name: Grace Reed, Position: HR Manager
Company Name:EduSmart,Employee Name: Dan Morgan, Position: HR Manager
Company Name:FinEdge,Employee Name: Victor Lopez, Position: Sales Representative
Company Name:FoodiesInc,Employee Name: Uma Wilson, Position: Project Manager
Company Name:RetailWorld,Employee Name: Olivia Young, Position: Financial Advisor
Company Name:FinEdge,Employee Name: Tara Hayes, Position: Marketing Specialist
Company Name:FinEdge,Employee Name: Uma Wilson, Position: Financial Advisor
Company Name:FoodiesInc,Employee Name: Frank Hughes, Position: Data Analyst
Company Name:HealthPlus,Employee Name: Victor Lopez, Position: Customer Service
Company Name:FinEdge,Employee Name: Zoe Bennett, Position: Software Engineer
Company Name:HealthPlus,Employee Name: Ian Lewis, Position: HR Manager
Company Name:MediCare,Employee Name: Victor Lopez, Position: IT Support
Company Name:GreenEnergy,Employee Name: Steve Gonzales, Position: IT Support
Company Name:FoodiesInc,Employee Name: Rachel Green, Position: Sales Representative
Company Name:HealthPlus,Employee Name: Zane Mitchell, Position: Customer Service
Company Name:TravelLux,Employee Name: Paul Walker, Position: Data Analyst
Company Name:EcoSolutions,Employee Name: Megan Scott, Position: Data Analyst
Company Name:RetailWorld,Employee Name: Eva Bell, Position: Financial Advisor
Company Name:TravelLux,Employee Name: Steve Gonzales, Position: Data Analyst
Company Name:GreenEnergy,Employee Name: Karen Adams, Position: Sales Representative
Company Name:HealthPlus,Employee Name: Anna Torres, Position: Sales Representative
Company Name:EcoSolutions,Employee Name: Paul Walker, Position: Product Manager
Company Name:FoodiesInc,Employee Name: Megan Scott, Position: Project Manager
Company Name:GreenEnergy,Employee Name: Uma Wilson, Position: Software Engineer
Company Name:MediCare,Employee Name: Kara Brooks, Position: Customer Service
Company Name:MediCare,Employee Name: Grace Reed, Position: Sales Representative
Company Name:TravelLux,Employee Name: Tina Baker, Position: IT Support
Company Name:GreenEnergy,Employee Name: Henry Ward, Position: IT Support

In [3]:
cd = pd.DataFrame(entries)
cd

    Company Name   Employee Name              Position
0        FinEdge     Ethan Brown          Data Analyst
1     FoodiesInc        Leo King     Financial Advisor
2    RetailWorld    Rachel Green          Data Analyst
3       MediCare      Uma Wilson      Customer Service
4       TechCorp      Mila Grant     Software Engineer
5       EduSmart        Leo King  Marketing Specialist
6    RetailWorld  Quincy Roberts      Customer Service
7    GreenEnergy    Cindy Rivera  Marketing Specialist
8        FinEdge        Eva Bell       Project Manager
9    GreenEnergy   Violet Rogers            HR Manager
10      TechCorp   Charlie Davis     Financial Advisor
11  EcoSolutions     Zoe Bennett     Software Engineer
12   RetailWorld      Grace Reed            HR Manager
13      EduSmart      Dan Morgan            HR Manager
14       FinEdge    Victor Lopez  Sales Representative
15    FoodiesInc      Uma Wilson       Project Manager
16   RetailWorld    Olivia Young     Financial Advisor
17       FinEdge      Tara Hayes  Marketing Specialist
18       FinEdge      Uma Wilson     Financial Advisor
19    FoodiesInc    Frank Hughes          Data Analyst
20    HealthPlus    Victor Lopez      Customer Service
21       FinEdge     Zoe Bennett     Software Engineer
22    HealthPlus       Ian Lewis            HR Manager
23      MediCare    Victor Lopez            IT Support
24   GreenEnergy  Steve Gonzales            IT Support
25    FoodiesInc    Rachel Green  Sales Representative
26    HealthPlus   Zane Mitchell      Customer Service
27     TravelLux     Paul Walker          Data Analyst
28  EcoSolutions     Megan Scott          Data Analyst
29   RetailWorld        Eva Bell     Financial Advisor
30     TravelLux  Steve Gonzales          Data Analyst
31   GreenEnergy     Karen Adams  Sales Representative
32    HealthPlus     Anna Torres  Sales Representative
33  EcoSolutions     Paul Walker       Product Manager
34    FoodiesInc     Megan Scott       Project Manager
35   GreenEnergy      Uma Wilson     Software Engineer
36      MediCare     Kara Brooks      Customer Service
37      MediCare      Grace Reed  Sales Representative
38     TravelLux      Tina Baker            IT Support
39   GreenEnergy      Henry Ward            IT Support

In [6]:
# xlrd and open excel are the libraries to handle Excel  files in pandas
entries.drop(2,axis=0,inplace=True)

AttributeError: 'list' object has no attribute 'drop'